*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    display: inline-flex;
    list-style: none;
    margin-left: 550px;
    
}

ul li {
    margin: 15px;
    
}

ul li a{
    text-decoration: none;
    font-size:  25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: cursive;
}

ul li a:hover{
    color:rgb(20, 168, 94);
}
.header{
   
    border: 5px solid black;
    margin-top: 10px;
    border-style: groove;
    background-image: linear-gradient( to right,rgba(83, 186, 255, 0),rgba(0, 0, 255, 0.452));
}
.img1{
    background-image: linear-gradient( to right,black,rgba(0, 0, 0, 0.616));
}
.image
{
    display: inline-flex;
}
.image img
{
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 431px;
}
.image img{
    transition: .2s;
  }
.image img:hover{
    transform: scale(1.1);
  }
.image1
{
    display: inline-flex;
}
.image1 img
{
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 431px;
}
.image1 img{
    transition: .2s;
  }
.image1 img:hover{
    transform: scale(1.1);
  }
.footer
{
    background-color: gray;
    text-transform: uppercase;
}
.footer img
{
    float: right;
    margin-top: 2px;
    margin-right: 850px ;
    height: 80px;
    width: 80px;
}
.footer hr
{
    border: 1px solid papayawhip;
}